@model IEnumerable<eTickets.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h1>Movie List</h1>

@* Card View Görünümü *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">

            <div class="card mb-3" style="max-width:540px;">

                <div class="row g-0">

                    <div class="col-md-12">
                        @* Card yapısına başlangıç *@
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name

                                    @* 53 *@
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @* Image bölümü *@
                        <img src="@item.ImageURL" width="100%" />
                    </div>
                    <div class="col-md-6">
                        @* Cinema ve diğer bilgiler *@
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Cinema:</b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Category:</b>@item.movieCategory</p>
                            <p class="card-text"><b>Start Date:</b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date:</b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                { @* Demekki gösterimde *@
                                    <span class="badge bg-success text-white">GÖSTERİMDE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                { @* Demekki vizyondan kalkmış *@
                                    <span class="badge bg-danger text-white">VİZYONDA DEĞİL</span>
                                }
                                else
                                { @* Demekki daha vizyona girmemiş *@
                                    <span class="badge bg-danger text-white">GELECEK</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                @* Ternary Operator *@
                                @* 69 *@
                                <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                                    
                                    asp-controller="Orders"
                                    asp-action="AddItemToShoppingCart"
                                    asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Sepete Ekle (Price @item.Price.ToString("c"))
                                
                                </a>
                                <a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>

                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    }

</div>
@Html.Partial("_CreateItem","Movies")



